<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188375277272-vapts3hehvp4ddtr3gl2n6n90k5k0rtv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188375277272-vapts3hehvp4ddtr3gl2n6n90k5k0rtv</string>
	<key>API_KEY</key>
	<string>AIzaSyB2c9PHfiX3abM-ZR83eURdNa4YpLNsMcs</string>
	<key>GCM_SENDER_ID</key>
	<string>188375277272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.tieudao.giangho</string>
	<key>PROJECT_ID</key>
	<string>ios-tieu-dao-giang-ho</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-tieu-dao-giang-ho.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188375277272:ios:e06c35073541eee70101ad</string>
	<key>DATABASE_URL</key>
	<string>https://ios-tieu-dao-giang-ho.firebaseio.com</string>
</dict>
</plist>